body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
}

a {
  color: #00B0FF;
  text-decoration:none;
  font-weight:bold;
}
a:visited {
color: #00B7FF;
}

h1.title {
	color: #FFFFFF;
	line-height:89px;
	height:89px;
	margin:0 0 0 50px;
	padding:0;
	font-size:35px;
}

h1.title span {
	font-size:20px;
	line-height:89px;
}

table tr.bottom td {
	border-bottom : 2px solid #6678B1;
}

div.bg_top {
	width:100%;
	height:89px;
	background:url('../images/bg_top.gif') repeat-x;
	margin:0;
	padding:0;
}

div.content {
	width:1024px;
	margin:25px auto;
}

div.view_content {
	width:1024px;
	margin:25px auto;
	text-align:center;
}

div.navigation {
	width:1024px;
	margin:0 auto;
	text-align:center;
}

div.navigation ul {
	width:400px;
	height:30px;
	list-style:none;
	margin:0 auto;
	padding:0;
}
div.navigation ul li {
	width:25px;
	float:left;
	margin:0 5px 0 0;
}
div.navigation ul li.current_page {
	font-weight:bold;
	font-size:18px;
	color:#f2d274;
	text-decoration:underline;
}
div.navigation ul li a {
	color:#f4a802;
}