@(message: String, list: List[SqlRow], today_date: String, yesterday_date: String, tomorrow_date: String, real_date: String)
@import org.tapaha.util.CharEncoding;

<!DOCTYPE html>
<html>
	<head>
		<title>SCrawle</title>
		<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, width=device-width, height=device-height" />
<link rel="stylesheet" media="screen" href="http://jquerymobile.com/demos/1.2.0/css/themes/default/jquery.mobile-1.2.0.css">
        <script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery.mobile-1.2.0.min.js")" type="text/javascript"></script>


		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-36573141-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>
	<body>
		<div data-role="page">
			<div data-role="header">
		  		<a target="_top" href="http://tapahac.cafe24.com/past/@yesterday_date" data-role="button" data-icon="arrow-l" data-theme="b">@yesterday_date.substring(5)</a>
				<h1>SCrawle</h1>
		  		@if(today_date < real_date && today_date != "null") {
		  		<a target="_top" href="http://tapahac.cafe24.com/past/@tomorrow_date" data-role="button" data-icon="arrow-r" data-theme="b">@tomorrow_date.substring(5)</a>
		  		}
			</div>
			<div data-role="content">
				<ul data-role="listview" data-theme="d" data-divider-theme="d" class="ul-listview">
					<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">@today_date<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">@list.size()</span></li>
					@for(article <- list) {
						<li><a target="_top" href="../view/@article.getInteger("issue_id")">@(CharEncoding.decode(article.getString("title"), "UTF-8"))</a></li>
					}
				</ul>
			</div>
			<div data-role="footer" data-theme="a" class="ui-bar">
				<a href="./changelog" data-role="button" data-icon="info" data-theme="c">Change Log</a>
				<a href="mailto:scrawle7 at gmail.com" data-role="button" data-icon="home" data-theme="c">Contact</a>
			</div>
		</div>
	</body>
</html>
